#page {
  display: grid;
  align-content: center;
  padding-left: 20%;
}
#text1 {
  font-family: "NanumSquare";
  font-weight: 700;
  color: #373737;
  font-size: 1.3rem;
}
#text2 {
  color: #3d5ba9;
  font-size: 2rem;
  font-family: "Jalnan";
}
#text3 {
  font-family: "NanumSquare";
  font-weight: 700;
  color: #373737;
  font-size: 1.3rem;
}
