.top11 {
    height: calc(100vh - 50px);
    display: grid;
    align-items: center;
}

.container {
    margin-left: 10vw;
}

.part1 {
    font-family: 'Jalnan';
    font-size: 2.3rem;
    color: #3d5ba9;
}

.item {
    padding-bottom: 3vh;
}

.part2 {
    margin-top: 5vh;
    font-family: "NanumSquare";
    font-weight: 700;
    font-size: 0.9rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    row-gap: 10px;
}

.part2>p {
    cursor: -webkit-grab;
    cursor: grab;
}

.part2>img {
    height: 15px;
}

.part3 {
    margin-top: 7vh;
    font-family: "NanumSquare";
    font-weight: 500;
}

.content:nth-child(1) {
    margin-bottom: 3vh;
}

.content>p:nth-child(1) {
    font-size: 0.7rem;
    margin-bottom: 5px;
}

.content>p:nth-child(2) {
    font-size: 0.9rem;
}

.part4 {
    margin-top: 12vh;
    font-size: 0.7rem;
    font-family: "NanumSquare";
    font-weight: 500;
}


@media screen and (min-width: 960px) {
    .top11 {
        margin-top: 120px;
        display: grid;
        align-items: center;
        justify-items: center;
    }

    .container {
        margin-left: 0;
        margin: 0 auto;
        display: grid;
        width: 750px;
        grid-template-columns: 400px 400px;
        column-gap: 150px;
        row-gap: 70px;
    }

    .part1 {
        margin-top: 0;
        font-size: 3.2rem;
        letter-spacing: 5px;
    }

    .part2 {
        font-size: 1.3rem;
        margin-top: 0;
        grid-row: 2/3;
        grid-template-columns: 250px 100px;
        row-gap: 30px;
        align-items: center;
    }

    .part3 {
        margin-top: 0;
        grid-column: 2/3;
        grid-row: 1/3;
        align-self: center;
    }

    .part4 {
        margin-top: 20px;
        font-size: .9rem;
        grid-row: 3;
    }

    .content>p:nth-child(1) {
        font-size: 1rem;
        margin-bottom: 5px;
    }

    .content>p:nth-child(2) {
        font-size: 1.3rem;
    }

    .content {
        padding-bottom: 30px;
    }
}


@media screen and (min-width: 961px)and (max-width: 1024px) {

    .container {
        column-gap: 5vw;
        row-gap: 8vh;
    }

    .part1 {
        font-size: 2rem;
    }

    .part2 {
        font-size: 1.2rem;
        row-gap: 10px;
    }

    .part4 {
        font-size: .7rem;
    }

    .content>p:nth-child(1) {
        font-size: .8rem;
    }

    .content>p:nth-child(2) {
        font-size: 1.3rem;
    }
}

@media all and (min-width:768px) and (max-width:960px) {
    .item {
        font-size: 2.5rem;
    }

    .part2 {
        font-size: 1.2rem;
        grid-template-columns: 200px 1fr;
    }

    .content>p:nth-child(1) {
        font-size: 1rem;
    }

    .content>p:nth-child(2) {
        font-size: 1.2rem;
    }
}